html {
    font-family: 'Georgia';
    text-shadow: -1px 1px #ffff9f;
    font-size: 2vh;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffff9f;
  background-color: #141414;
}

code {
    font-family: 'Georgia', sans-serif;
}

img {
  height: 90vh;
  width: 90vw;
  border-radius: 5vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  text-decoration: none;
}
.heading {
  text-align: center;
}

.likeButton {
  display: flex;
  justify-content: space-around;
}

.pageBody {
  display: block;
  color: #ffff9f;
}
.App {
  text-align: center;
  background-position: center;
  font-family: 'Georgia', sans-serif;;
}

.navigation {
  justify-content: center;
  padding: 2vh;
  margin: 2vh;
  flex-direction: column;
  border-color: #ffff9f;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: groove;
}

.navigation ul {
  display: block;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 1vh;
}

.navigation li {
  padding: 1vh 1vh 1vh 1vh;
  font-size: 6vh;
  text-align: center;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.navigation li:hover {
  background-color: #141414;
  color: #ffff9f;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px;
  border-color: #ffff9f;
  border-style: groove;
  text-shadow: -1px 1px #111111;
}

button {
  display: flex;
  justify-content: space-around;
  color: #ffff9f;
  background-color: #141414;
  padding: 5vh 2.5vh 5vh 2.5vh;
  margin: 3vw;
  font-size: 5vh;
  border-radius: 3vh;
  border: none;
  font-family: 'Georgia';
}

button:hover {
  color: #141414;
  background-color: #ffff9f;
}

button:disabled {
  background-color: #4D60A3;
   opacity: 0.6;
  color: #ffff9f;

}


.form {
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh;
}

.form input {
  margin: 2vh;
  background-color: #141414;
  color: #ffff9f;
  font-size: 8vh;
  min-width: 95%;
  min-height: 8vh;
  text-align: center;
  padding: 3vh;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px;
  border-color: #ffff9f;
  border-style: groove;
}

.form button {
  font-size: 5vh;
  margin-top: 5vh;
  background-color: #141414;
  color: inherit;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  min-height: 5vh;
  border-color: #ffff9f;
}

.PasswordForgetPage {
  margin: 2vh;
  background-color: #141414;
  color: #ffff9f;
  font-size: 8vh;
  justify-content: center;
  text-align: center;
}


.forgotPassword {
  margin: 2vh;
  background-color: #141414;
  color: #ffff9f;
  font-size: 8vh;
  text-align: center;
  padding: 3vh;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px;
  border-color: #ffff9f;
  border-style: groove;
}

.forgotPassword input {
  width: 80%;
  min-height: 20%;
  font-size: 8vh;
  background-color: #141414;
  color: #ffff9f;
}

.forgotPassword button {
  margin-left: 4vh;
  height: 20%;
  min-height: 20%;
  width: inherit;
  background-color: #141414;
  color: #ffff9f;
  border: none;
  font-size: 8vh;
}

.forgotPassword button:hover {
  background-color: #ffff9f;
  color: #141414;
  border: none;
  text-size: 8vh;
}

.story {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vh 1vh 2vh 1vh;
  font-size: 5vh;
  background-color: #141414;
  margin: 4vh;
  white-space: pre-line;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-direction: row;
  font-size: 5vh;
  background-color: #141414;
  margin: 4vh;
  text-decoration: none;
  color: #ffff9f;
  white-space: pre-line;
}

.image {
  display: flex;
  justify-content: center;
}
